.DashStyle {
  display: flex;
  flex-direction: row;
  border: 5px solid blue;
  position: absolute;
  height: 90%;
  width: 95%;
  justify-content: center;
  align-items: center;
  /* margin: 2rem; */
}

.left {
  margin: 0;
}
.right {
  margin: 0;
}
