.DashStyle {
  display: flex;
  flex-direction: row;

  position: absolute;
  height: 90%;
  width: 95%;
  justify-content: center;
  align-items: center;
}

.left {
  margin: 0;
}
.right {
  margin: 0;
}
