.DashBoardStyle {
  display: flex;
  position: relative;
  height: 70vh;
  justify-content: center;
  margin: 0 2.5rem;
}

.left {
  position: relative;
  padding: 1rem;
}
.right {
  position: relative;
  padding: 1rem;
}
