.donut-container {
  width: 100%;
  height: 37.5vh;
  display: block;
  flex-direction: row;
  justify-content: center;
  position: relative;
  /* border: 1px solid black; */
  align-items: center;
}
.donut {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
