.box-container {
  width: 100%;
  height: 43.8vh;
  display: block;
  flex-direction: row;
  position: relative;
  padding-left: 1rem;
}

.table-container {
  height: 44.1vh;
}

.table {
  align-items: right;
  height: 100%;
}

.table-body {
  width: 50%;
}

.table-row {
  height: 40;
}
