.card1 {
  display: flexbox;
  height: 85vh;
  position: relative;
  margin: 2rem;
  width: 95vw;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.heading1{
    position: relative;
    display: flex;
    font-size: medium;
    padding: 0.5rem 0 0 1rem;
}

.container-box1{
    display: flex;
    /* border: 2px solid red; */
    width: 100%;
    justify-content: space-evenly;
}

.left-side1{
    display: block;
    /* border:2px solid blue; */
    width: 50vw;
    height: 100%;
}
.labels{
    padding: 0 0 8px 0;
    font-size: 15px;
    font-weight: 500;
}

.left-field1{
    margin-bottom: 18px ;
}

.right-side1{
    display: block;
    /* border:2px solid yellow; */
    width: 50vw;
    height: 100%;
    padding-left: 1rem;
}

.right-field1{
    margin: 0 0 1.1rem 1rem;

}

.btn1{
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1rem;
}
.button-grid{
    margin: 1rem 0 0 1.2rem;
}
.button{
    width: 150px;
    font-weight: bold;
}
